:root {
  /* Color */
  --light-color: #f8fdffd2;
  --primary-color: #c5cae9;
  --dark-color: #9499b7;
  --text-color: #000000;

  /* Font size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: "Do Hyeon", sans-serif;
  background-image: url("background-pc.png");
}

h1 {
  display: flex;
  justify-content: space-around;
  text-shadow: 0 1px 2px rgba(234, 234, 240, 0.452),
    0 1px 3px rgba(184, 182, 182, 0.726);
}

section {
  background-color: var(--light-color);
  height: 70%;
  margin: 18px;
  padding: 4px;
  border-radius: 10px;
  font-size: var(--font-large);
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background: #9499b700;
}

section .btn {
  margin: 0;
  padding: 2px;
}

section .check {
  position: absolute;
  right: 60px;
}

section .trash {
  position: absolute;
  right: 35px;
}

section .check:active {
  color: rgb(11, 155, 23);
  transform: scale(0.98);
}

section .trash:active {
  color: rgb(233, 29, 29);
  transform: scale(0.98);
}

.icon .add {
  font-size: 40px;
  color: var(--light-color);
  position: absolute;
  right: 30px;
}

.icon .add:active {
  text-shadow: 0 4px 6px rgba(50, 50, 93, 0.452), 0 1px 3px rgba(0, 0, 0, 0.274);
  transform: scale(0.98);
}
